Querying via TCP broken

This lib implements communication via UDP and TCP, however the TCP implementation is broken in several ways:
- Messages sent over TCP (both directions) are to be prefixed by the message length, as per [RFC 1035 section 4.2.2](http://tools.ietf.org/html/rfc1035#section-4.2.2), [here](https://github.com/reactphp/dns/blob/e1eaadb8ac637e61d1b642ebed37fa46c568ae9d/src/Query/Executor.php#L90)
- Messages can be chunked and have to be reassembled based on the length prefix, [here](https://github.com/reactphp/dns/blob/e1eaadb8ac637e61d1b642ebed37fa46c568ae9d/src/Query/Executor.php#L68)
- Uses blocking `stream_socket_client()` call to connect to the DNS server, [here](https://github.com/reactphp/dns/blob/e1eaadb8ac637e61d1b642ebed37fa46c568ae9d/src/Query/Executor.php#L102)
- Uses `Connection` from the react/socket (server!) component, should use react/socket-client, [here](https://github.com/reactphp/dns/blob/e1eaadb8ac637e61d1b642ebed37fa46c568ae9d/composer.json#L9)

Looks like some of these points are currently being addressed as part of #8.


@clue As domain names are limited to 255 characters you shouldn't be able to exceed the 512 bytes in a query when only querying one question at a time, right?

@kelunik Yes and no :-)

No, response messages tend to be larger than request messages and certain response messages are almost certainly guaranteed to require a TCP/IP transport because a UDP message would include a fragmentation flag otherwise.

So yes, this is something that many people likely won't even notice, because *normal* `A` messages usually fit into a single UDP message.

If a response message is received over UDP and includes a fragmentation flag, we try to retry the corresponding request over TCP/IP (which is completely broken as per this ticket).

@clue Sure, I know, I was only talking about large query requests, not about responses.